
.board {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.board__round {
  justify-content: space-around;
}

.round__peg {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin: 10px;
  display: inline-block;
}

.round__peg--blue {
  background-color: blue;
}

.round__peg--pink {
  background-color: pink;
}

.round__peg--yellow {
  background-color: yellow;
}

.round__peg--orange {
  background-color: orange;
}

.round__peg--green {
  background-color: green;
}

.round__peg--red {
  background-color: red;
}

.round__score .form-group {
  padding: 10px;
}

.round__score input {
  margin-left: 10px;
}
